<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>We'll be right back!</h1>
    <p>The site is down for maintenance</p>

    {{> footer}}
  </body>
</html>
